*{
    margin: 0;
    padding: 0;
}



/* Nav */
/* VERDE PISTACHE: #3FE2A0 */


.navbar{
    padding: 2rem;
    background-color: #F9B3F8;
    border-bottom: 1px solid #ddd;
     box-shadow: 0px 30px 25px  rgba(0, 0, 0, 1);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.contenedor-nav .btn-c{
    border: 2px solid #fff;
    background-color: #E4C14E;
}



/* .navbar-brand{
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #31DE28;
} */

/* .eslogan{
    font-family: 'Niconne', cursive;
    text-align: center;
    font-size: 35px;
} */

.contacto-nav button{
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 1.24em 2em;
	margin: 10px;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
    min-width: 120px;
}

.contacto-nav .nav-boton1{
    background-color: #EC268F;
}


.contacto-nav button:hover{
	background-color: #4EA9D5;
	color: black;
}



.contacto-nav button i{
	color: #fff;
	font-size: 1.3rem;
	transition: all 0.2s ease-in-out ;
}

.contacto-nav button:hover i{
	color: #000
}

/* Section */

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* Crousel */

.carousel{
    width: 100%;
    height: 100vh;
}


.carousel-inner .carousel-item{
    transition: all 2s ease-in-out;
}

.carousel-item img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: .70;
}

.carousel-item h5{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}


.carousel-item .titulo-secundario{
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
}

.carousel-inner p, .carousel-inner h5 {
    color: #000;
    opacity: 1;
}

.carousel-caption{
    background-color: rgb(255, 255, 255,.5);
    border-radius: 20px;
}

.carousel-caption a .btn-primary{  
    padding: 10px 1em;
    margin: 20px;
    min-width: 250px;
    background-color: #F5B220;
    border: 5px solid #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
}

.carousel-caption a{
    display: inline-block;
}

.carousel-caption button:hover{
	background-color: #E07800;
	color: #fff;
    border: 5px solid #fff;
}

.carousel-caption a .btn-primary i{  
    font-size: 25px;
}

.btn-custom {
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 50%;
  }

.carousel-caption{
    margin: 200px 0px;
}


/* Footer */

.seccion-footer{
    padding: 50px 0px 25px 0px;
	color: #fff;
	background-color: #1b1b32;
}

.footer-logo{
    background: #EC268F;
    border: 2px solid #fff;
    border-radius: 50%;
}

.footer-texto{
    font-family: 'Monoton', cursive;
    font-size: 40px;
}
.iconos-redes-sociales a{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
	color: #fff;
	font-size: 1.5rem;
	transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
	background-color: #fff;
	border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i{
	color: #000;
}

/* Adaptable Responsivo */
/* De los 767 pa abajo se aplica esto */
@media screen and (max-width: 767px){

    .carousel-inner .imagen1 .carousel-caption{
        margin: 50px 0px 50px 0px;
        width: 70%;
        height: 70%;
    }
	.carousel-inner .imagen2 .carousel-caption{
        margin: 50px 0px 50px 0px;
        width: 70%;
        height: 70%;
    }
	.carousel-inner  .imagen3 .carousel-caption{
        margin: 50px 0px 50px 0px;
        width: 70%;
        height: 80%;
    }

	.carousel-inner .imagen1 img{
        content: url(helao-6.jpg);
    }
	.carousel-inner .imagen2 img{
        content: url(helao-5.jpg);
    }
	.carousel-inner .imagen3 img{
        content: url(helao-6.jpg);
    }

    
    .carousel-caption a .btn-primary{
        min-width: 250px;
        margin: 5px 0px;
    }

}

@media screen and (max-width: 400px){
    .carousel-inner .imagen1 .carousel-caption{
        margin: 100px 0px;
        width: 70%;
        height: 60%;
    }
	.carousel-inner .imagen2 .carousel-caption{
        margin: 100px 0px;
        width: 70%;
        height: 60%;
    }
	.carousel-inner  .imagen3 .carousel-caption{
        margin: 50px 0px 50px 0px;
        width: 70%;
        height: 80%;
    }

    .carousel-caption a .btn-primary{
        min-width: 180px;
        font-size: 15px;
        margin: 5px 0px;
    }
    .carousel-inner .carousel-item .carousel-caption .bi-link-45deg{
        font-size: 15px;
    }
}

